*{
	box-sizing: border-box;
}

body{
	width: 1024px;
	background-image: url("../images/circles-light.png");
	font-size: 18px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.content-entire{
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	clear: both;
}

div{
	outline: 1px solid blue;
	margin: 10px 0;
}

p{
	margin: 10px;
}

img{
	width: 50px;
	height: 75px;
}

#banner{
	width: 30%;
	color: white;
	background-color: #5B5F97; /*purple*/
}

#instructions{
	width: 50%;
	background-color: #FFC145; /*ochre*/
	color: black;
}

#numGenerated{
	width: 20%;
	background-color: #FF6B6C;
	color: white;
}

#winsLosses{
	width: 10%;
	background-color: #B8B8D1;
	color: white;
}

#gemButtons{
	width: 40%;
	background-color: #FFFFFB; /*off-white*/
}

#scoreHeader{
	width: 25%;
	background-color: #5B5F97;
	color: white;
	clear: both;
}

#sumNumsEntered{
	width: 25%;
	background-color: #5B5F97;
	color: white;
}

#rubyButton{
	padding: 5px;
	/*background-color: red;
	color: white;*/
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

#diamondButton{
	padding: 5px;
	/*background-color: blue;
	color: white;*/
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

#amberButton{
	padding: 5px;
	/*background-color: yellow;
	color: black;*/
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

#emeraldButton{
	padding: 5px;
	/*background-color: green;
	color: white;*/
	float: left;
	cursor: pointer;
}

#gemButtonsRow{
	display: inline;
}

